.page{
    display: flex;
    flex-direction: column;
    border: 1px solid silver;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0px 2px 17px 9px silver;

}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "iranyekanwebregular",Arial , Helvetica , sans-serif;
}
.header{
    background: url(../img/Vector-1.png);
    background-size: 100% 100%;
    width: 100%;
    height: 630px;
    margin: 0 auto;
}
.header .header-one{

}
.header .header-one .title{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.header .header-one .title .img-ol{
    margin-top: 20px;
    margin-left: 10px;
}
.header .header-one .title .img-ol img{
width: 20px;
    height: 10px;
    object-fit: cover;
}
.header .header-one .title .img-texts{
    margin-top: 20px;
    margin-right: 10px;
}
.header .header-one .form-log{
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin-top: 80px;
}
.header .header-one .form-log h3{
font-weight: bold;
    color: #ffffff;

}
.header .header-one .form-log .forms{
    margin-top: 30px;
    margin-right: 41px;
}
.header .header-one .form-log .forms .input-user{
display: flex;
    background: #ffffff;
    padding: 15px;
    border-radius: 50px;
    align-items: center;
    justify-content: space-evenly;
width: 100%;
    margin: 10px;
}
.header .header-one .form-log .forms .input-user .check-line{
    background: green;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: all .2s linear;
}
.header .header-one .form-log .forms .input-user .check-line.active{
    opacity: 1;
    visibility: visible;
}
.header .header-one .form-log .forms .input-user .check-close{
    background: red;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: all .2s linear;
}
.header .header-one .form-log .forms .input-user .check-close.active{
    opacity: 1;
    visibility: visible;
}
.header .header-one .form-log .forms .input-user img{
width: 15px;
    height: 15px;
    object-fit: cover;
}
.header .header-one .form-log .forms .input-user #user_input{
outline: none;
    border: none;
}
.header .header-one .form-log .forms .input-pass{
    display: flex;
    background: #ffffff;
    padding: 15px;
    border-radius: 50px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px;
}
.header .header-one .form-log .forms .input-pass .check-line{
    background: green;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: all .2s linear;
}
.header .header-one .form-log .forms .input-pass .check-line.active{
    opacity: 1;
    visibility: visible;
}
.header .header-one .form-log .forms .input-pass .check-close{
    background: red;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: all .2s linear;
}
.header .header-one .form-log .forms .input-pass .check-close.active{
    opacity: 1;
    visibility: visible;
}
.header .header-one .form-log .forms .input-pass img{
    width: 15px;
    height: 15px;
    object-fit: cover;
}
.header .header-one .form-log .forms .input-pass #pass-input{
    outline: none;
    border: none;
}
.header .header-one .form-log .forms .msg{
color: red;
    text-align: center;
    font-weight: bold;
    margin-left: 10px;
font-size: 14px;
}
.header .header-one .form-log .forms .msg-pass{
    color: red;
    text-align: center;
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
}

.header .header-one .form-log .forms .button-check{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 50px 25px;
    width: 100%;
    background: #6A74CF;
    padding: 15px;
    border: none;
    outline: none;
    color: white;
    border-radius: 50px;
}
.header  .linkes{
    width: 100%;
    text-align: center;
}
.header  .linkes .link {
    color: white;
    border-bottom: none;
    text-decoration: none;

}
.main-over{

}
.main-over .back{
    background: url(../img/Vector-2.png);
    width: 99%;
    height: 100px;
    background-size: 100% 100%;
    position: relative;
    left: 1%;
    top: -108px;
    z-index: -1;
}
.main-over .footer{
background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 300px;
    margin: 10px auto;
}
.main-over .footer h2{
color: #7A7A7A;
    font-size: 15px;
    margin-bottom: 20px;
}
.main-over .footer .buttons{
margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-over .footer .buttons button{
margin-left: 10px;
    width: 180px;
    height: 40px;
    background-color: #5073B5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    outline: none;
    border: none;
    color: white;
    border-radius: 50px;
}
.main-over .footer .buttons button:nth-child(1){
    background-color:#35A6EF;
    margin-right: 30px;
}
.main-over .footer .buttons button img {
width: 20px;
    height: 20px;
    object-fit: cover;
}
.main-over .footer .buttons button span{

}
.main-over .footer .text-link{
margin-top: 80px;
}
.main-over .footer .text-link span{
color: #7A7A7A;
}
.main-over .footer .text-link a{
color: #6A74CF;
    text-decoration: none;
}

